{% extends "base.html" %}

{% block content %}
<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <h2>Welcome!</h2>
        <br>
        <br>
        <br>
        <br>
        <h3>To Do List : </h3>
        <br>
        <br>
        <br>
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-paw"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Extend Data </h3>
                        <p>Data cuaca maritim dan prakiraan cuaca</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>UI</h3>
                        <p>Template timor Template ! ( I HATE UI )</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Takes a lot of work</h3>
                        <p>Add Collaborator Pingback</p>
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock %}